body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(10deg, #11c0ff, #ff6c1190, #ffa4114a);
    margin: 0;
}

h1{
    font-family: 'Arial', sans-serif;
    color: #333333;
    padding-bottom: 20px;
    text-align: center;
    justify-content: center;
}

.score-display{
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    color: #555555;
    margin-bottom: 30px;
    text-align: center;
    padding: 15px;
}

.upgrades-section{
    display: block;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

h2{
    font-family: 'Arial', sans-serif;
    color: #333333;
    text-align: center;
    justify-content: center;
}
.main-button{
    align-items: center;
    background-image: linear-gradient(144deg, #6eff89, #7873f5 50%, #4ade80);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2);
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 24px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 200px;
    padding: 5px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;    
}

.buy-upgrade-button {
align-items: center;
  background-image: linear-gradient(144deg, #40b9ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 5px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}
